<form [formGroup]="myForm2" (ngSubmit)="onSave(myForm2.value)" method="post">
    <div class="mb-3">
      <label for="" class="form-label">Ingrese el correo</label>
      <input type="email" class="form-control" formControlName="correo_cliente" >
      <span class="text-danger" *ngIf="myForm2.get('correo_cliente')?.invalid && myForm2.get('correo_cliente')?.touched">
        El email es requerido y debe ser válido
      </span>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Ingrese la direccion</label>
        <input type="text" class="form-control" formControlName="direccion" >
        <span class="text-danger" *ngIf="myForm2.get('direccion')?.invalid && myForm2.get('direccion')?.touched">
          La dirección es requeridad
        </span>
      </div>
    <div class="mb-3">
        <label for="" class="form-label">Ingrese telefono</label>
        <input type="text" class="form-control" formControlName="telefono" >
        <span class="text-danger" *ngIf="myForm2.get('telefono')?.invalid && myForm2.get('telefono')?.touched">
          El telefono es requerido
        </span>
      </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
  </form>

