<!-- list-usuario.component.html -->
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <button class="btn btn-primary btn-sm mb-4" routerLink="/dashboard/cita/nuevo">Agregar citas</button>
      <div>
        <label for="estilista">Seleccionar Estilista: </label>
        <select id="estilista" [(ngModel)]="estilistaSeleccionado" (change)="onEstilistaChange()">
          <option value="">Todos los estilistas</option>
          <option *ngFor="let estilista of estilistas" [value]="estilista._id">{{ estilista.nombre }} {{
            estilista.apellido }}</option>
        </select>
      </div>
      <input type="text" class="barra mb-4" placeholder="Buscar cita..." #buscar (keyup)="aplicarFiltro(buscar.value)">
    </div>
    <div class="table-responsive sombra">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre cliente</th>
          <td mat-cell *matCellDef="let cita">{{ cita.cliente.nombre | titlecase }}</td>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido cliente</th>
          <td mat-cell *matCellDef="let cita">{{ cita.cliente.apellido | titlecase }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="nombre_servicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre servicio</th>
          <td mat-cell *matCellDef="let cita">{{ cita.servicio.nombre_servicio | titlecase }}</td>
        </ng-container>

        <!-- Estilista Column -->
        <ng-container matColumnDef="nombre_estilista">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre estilista</th>
          <td mat-cell *matCellDef="let cita">{{ cita.estilista.nombre | titlecase }} {{cita.estilista.apellido |
            titlecase}}</td>
        </ng-container>

        <!-- fecha Column -->
        <ng-container matColumnDef="fechaCita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha cita</th>
          <td mat-cell *matCellDef="let cita">{{ cita.fechaCita | date: 'YYYY-MM-dd' : 'UTC' }}</td>
        </ng-container>

        <!-- hora Column -->
        <ng-container matColumnDef="horaCita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora cita</th>
          <td mat-cell *matCellDef="let cita">{{ cita.horaCita| date: 'HH:mm a' }}</td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let cita">
            <button class="btn-sm" [ngClass]="{
              'btn-primary btn-sm ': cita.estado === 'confirmada',
              'btn-warning btn-sm ': cita.estado === 'finalizada',
              'btn-danger btn-sm': cita.estado === 'cancelada',
              'btn-info btn-sm': cita.estado === 'pendiente',
            }">
              {{ cita.estado | titlecase }}
            </button>
          </td>
        </ng-container>

        
        <ng-container matColumnDef="cambiar">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Cambiar estados</th>
          <td mat-cell *matCellDef="let cita">
            <form action="" [formGroup]="myForm">
              <select class="form-select" formControlName="estado" (change)="actualizarEstado(cita._id)">
                <option value="">Opciones</option>
                <option value="confirmada">Confirmada</option>
                <option value="cancelada">Cancelada</option>
                <option value="pendiente">Pendiente</option>
                <option value="finalizada">Finalizada</option>
              </select>
            </form>
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef>Acciones</th>
          <td mat-cell *matCellDef="let cita" [ngSwitch]="cita.estado">
            <div class="d-flex">
              <!-- Contenido cuando el usuario está activo -->
              <a id="link" class="btn btn-success btn-sm mr-2" routerLink="/dashboard/cita/edit/{{ cita._id }}">
                Editar <i class="fas fa-pencil-alt"></i>
              </a>
              <a id="link" class="btn btn-danger btn-sm" (click)="eliminarCita(cita._id)">
                Eliminar <i class="fas fa-trash-alt"></i>
              </a>
            </div>
          </td>
        </ng-container>

        <!-- Define las filas de la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <!-- Agrega el paginador -->
      <mat-paginator [pageSize]="7" [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>