.contenedor-paginacion {
    display: flex;
    justify-content: center;
    margin-top: 1rem; /* Espacio adicional en la parte superior */
}

.barra {
    border: 1px solid rgba(116, 90, 242);
    border-radius: 15px;
    width: 200px;
    height: 40px;
    padding: 2px;
    color: rgba(116, 90, 242);

}

.estado,
.estado-cambiado {
  background-color: rgba(116, 90, 242);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
  text-align: center;
  cursor: pointer;
  color: white;
}

.estado-cambiado {
    background-color: #242a33;
}

#link {
    color: white;
}

.sombra {
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1), -4px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Reglas para el diseño responsivo */
@media (max-width: 970px) {
    .table-responsive.sombra {
        overflow-x: auto;
    }

    th,
    td {
        text-align: left;
        width: 100%;
        display: block;
        box-sizing: border-box;
        margin-bottom: 0.5rem; /* Espacio entre tarjetas */
    }

    th {
        font-weight: bold;
    }

     td {
        border-bottom: 1px solid #dee2e6;
    }

    th,
     td:before {
        display: none;
    }

    .contenedor-paginacion {
        margin-top: 0;
    }

    .barra {
        margin-bottom: 4px;
    }
}

th{
    color: rgb(116, 90, 242);

  }

  .filtros {
    display: flex;
    justify-content: space-between; /* Distribuye los elementos horizontalmente */
    align-items: center; /* Alinea verticalmente los elementos */
  }
  
  .filtroFecha,
  .filtroEstado {
    display: flex;
    align-items: center;
  }
  .filtroFecha input{
    display: flex;
  } 
  
  .filtroFecha mat-form-field,
  .filtroEstado mat-form-field {
    margin-right: 0.5rem;
  }
  
  .filtroFecha button,
  .filtroEstado button {
    background-color: rgb(116, 90, 242);
    color: white;
    /* width: 70px;
    height: 40px; */
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
  }

  .filtroFecha button{
    margin-right: 5px;
  }

  .filtroFecha button {
    margin-left: 50px;
    margin-top: 10px;
  }

  .buscador{
    margin-left: 10px;
  }

  .filtroEstado mat-form-field {
    margin-right: 0.5rem; /* Reducir el espacio entre el campo de selección y el botón */
    width: auto; /* Hacer que el campo de selección ocupe solo el espacio necesario */
  }
  
  /* Reducir el tamaño del dropdown */
  .filtroEstado mat-select {
    font-size: 0.75rem; /* Reducir el tamaño de la fuente */
    min-width: 80px; /* Ajustar el ancho mínimo del dropdown */
  }
  
  /* Reducir el tamaño de cada opción dentro del dropdown */
  .filtroEstado mat-option {
    font-size: 0.75rem; /* Reducir el tamaño de la fuente */
  }

  .mat-mdc-text-field-wrapper {
    width: 120px;
}
  





