<div class="d-flex justify-content-start">
    <button class="btn btn-primary btn-sm" routerLink="/dashboard/cliente/list">Volver</button>
</div>
<div class="content">
    <div class="cards">
        <div class="card">
            <div class="box">
                <span class="dot"></span>
                <h2 class="confirmadas">{{citasConfirmadas}}</h2>
                <h3>Confirmadas</h3>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h2 class="canceladas">{{citasCanceladas}}</h2>
                <h3>Canceladas</h3>
            </div>
        </div>
        <div class="card">
            <div class="box">
                <h2 class="finalizadas">{{citasFinalizadas}}</h2>
                <h3>Finalizadas</h3>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="box">
                    <h2 class="pendientes">{{citasPendientes}}</h2>
                    <h3>Pendientes</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- list-usuario.component.html -->
<div class="card">
    <div class="card-body">
        <div class="filtros d-flex justify-content-start">
            <h3 class="nombre">Reservas de:  {{nombre | titlecase}} </h3>
            <div class="d-flex justify-content-end">
              <div class="fecha-inicial">
            <div class="fecha-input">
              <label for="fechaInicial">Fecha Inicial</label>
              <input type="date" class="form-control" id="fechaInicial" [(ngModel)]="fechaInicial">
            </div>
          </div>

          <!-- Fecha Final -->
            <div class="fecha-input">
              <div class="fecha-final">
              <label for="fechaFinal">Fecha Final</label>
              <input type="date" class="form-control ml-2" id="fechaFinal" [(ngModel)]="fechaFinal">
            </div>
          </div>
          <button class="btn btn-sm" (click)="aplicarFiltroFecha()">Buscar</button>
        </div>
      </div>
        <div class="table-responsive sombra">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                <!-- Email Column -->
                <ng-container matColumnDef="nombre_servicio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre servicio</th>
                    <td mat-cell *matCellDef="let cita">{{ cita.servicio.nombre_servicio | titlecase }}</td>
                </ng-container>
                <!-- Duracion Column -->
                <ng-container matColumnDef="duracion">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Duración(min)</th>
                    <td mat-cell *matCellDef="let cita">{{ cita.servicio.duracion }}</td>
                </ng-container>

                <!-- Apellido Column -->
                <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
                    <td mat-cell *matCellDef="let cita">{{ cita.servicio.precio | currency:'COP':'symbol':'1.0'}}</td>
                </ng-container>

                <!-- Estilista Column -->
                <ng-container matColumnDef="nombre_estilista">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre estilista</th>
                    <td mat-cell *matCellDef="let cita">{{ cita.estilista.nombre | titlecase }}
                        {{cita.estilista.apellido | titlecase}}</td>
                </ng-container>

                <!-- fecha Column -->
                <ng-container matColumnDef="fechaCita">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha cita</th>
                    <td mat-cell *matCellDef="let cita">{{ cita.fechaCita | date: 'YYYY-MM-dd' : 'UTC' }}</td>
                </ng-container>

                <!-- hora Column -->
                <ng-container matColumnDef="horaCita">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora cita</th>
                    <td mat-cell *matCellDef="let cita">{{ cita.horaCita| date: 'HH:mm a' }}</td>
                </ng-container>

                <ng-container matColumnDef="horaFinCita">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora fin</th>
                    <td mat-cell *matCellDef="let cita">{{ cita.horaFinCita | date: 'HH:mm a' }}</td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
                    <td mat-cell *matCellDef="let cita">
                      <button class="btn-sm" [ngClass]="{
                        'btn-primary btn-sm ': cita.estado === 'confirmada',
                        'btn-warning btn-sm ': cita.estado === 'finalizada',
                        'btn-danger btn-sm': cita.estado === 'cancelada',
                        'btn-info btn-sm': cita.estado === 'pendiente',
                      }">
                        {{ cita.estado | titlecase }}
                      </button>
                    </td>
                  </ng-container>


                <!-- Define las filas de la tabla -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <!-- Agrega el paginador -->
            <mat-paginator [pageSize]="7" [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>
