<!-- list-usuario.component.html -->
<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-end">

      <!--filtro por fechas-->
<div class="filtroFecha">
  <!-- Fecha Inicial -->
  <div class="form-group col-md-4">
  <div class="fecha-input">
    <label for="fechaInicial">Fecha Inicial</label>
    <input type="date" class="form-control" id="fechaInicial" [(ngModel)]="fechaInicial">
  </div>
</div>

  <!-- Fecha Final -->
  <div class="form-group col-md-4">
  <div class="fecha-input">
    <label for="fechaFinal">Fecha Final</label>
    <input type="date" class="form-control" id="fechaFinal" [(ngModel)]="fechaFinal">
  </div>
</div>
<button class="btn btn-sm btn-primary"  (click)="aplicarFiltroFecha()">Buscar</button>
<button class="btn btn-primary btn-sm ml-5" (click)="exportarExcel()">Exportar</button>
</div>
  <input type="text" class="barra mb-4" placeholder="Buscar venta... " #buscar
  (keyup)="aplicarFiltro(buscar.value)">
</div>
    <div class="table-responsive sombra">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre cliente</th>
          <td mat-cell *matCellDef="let cita">{{ cita.cliente.nombre | titlecase }}</td>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Apellido cliente</th>
          <td mat-cell *matCellDef="let cita">{{ cita.cliente.apellido | titlecase }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="nombre_servicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre servicio</th>
          <td mat-cell *matCellDef="let cita">{{ cita.servicio.nombre_servicio | titlecase }}</td>
        </ng-container>


        <!-- Email Column -->
        <ng-container matColumnDef="precio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Precio</th>
          <td mat-cell *matCellDef="let cita">{{ cita.servicio.precio | currency:'COP':'symbol':'1.0' }}</td>
        </ng-container>

        <!-- Email Column -->
        <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Duracion(min)</th>
          <td mat-cell *matCellDef="let cita">{{ cita.servicio.duracion}}</td>
        </ng-container>

        <!-- Estilista Column -->
        <ng-container matColumnDef="nombre_estilista">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre estilista</th>
          <td mat-cell *matCellDef="let cita">{{ cita.estilista.nombre | titlecase }} {{cita.estilista.apellido |
            titlecase}}</td>
        </ng-container>

        <!-- fecha Column -->
        <ng-container matColumnDef="fechaCita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Fecha cita</th>
          <td mat-cell *matCellDef="let cita">{{ cita.fechaCita | date: 'YYYY-MM-dd' : 'UTC' }}</td>
        </ng-container>

        <!-- hora Column -->
        <ng-container matColumnDef="horaCita">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora cita</th>
          <td mat-cell *matCellDef="let cita">{{ cita.horaCita| date: 'HH:mm a' }}</td>
        </ng-container>



        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Estado</th>
          <td mat-cell *matCellDef="let cita">
            <p disabled [ngClass]="{
              'btn-warning btn-sm p3': cita.estado === 'finalizada',
            }">
              {{ cita.estado | titlecase }}
            </p>
          </td>
        </ng-container>

        <!-- Acciones Column -->


        <!-- Define las filas de la tabla -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <!-- Agrega el paginador -->
      <div class="button-export">
      
      </div>
      <mat-paginator [pageSize]="7" [pageSizeOptions]="[7, 14, 21]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
