.contenedor-paginacion{
    display: flex;
    justify-content: center;
}
.contenido-superior{
    display: flex;
    justify-content: space-between;
}

.estado{
    
    background-color: transparent;
    border: 1px solid green;
    border-radius:  2em;
    padding: 0.3em;
    text-align: center;
    cursor: pointer;
    color: green;
}

.estado-cambiado{
    
    background-color: transparent;
    border: 1px solid red;
    border-radius:  2em;
    padding: 0.3em;
    text-align: center;
    cursor: pointer;
    color: red;

}

