<button class="btn btn-primary" routerLink="/dashboard/estilista/nuevo">Nuevo estilista</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Correo</th>
        <th scope="col">telefono</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of estilista">
        <th scope="row">{{i.id_estilista}}</th>
        <td>{{i.correo_estilista}}</td>
        <td>{{i.telefono}}</td>
  
        <td>  
          <a class="btn btn-warning" routerLink="/dashboard/estilista/edit/{{i.id_estilista}}" >Editar</a>

          <a class="btn btn-danger ml-3" >Eliminar</a>
        </td>
    </tbody>
  </table>
