<div class="container mt-5">
    <div class="card sombra">
      <div class="card-body">
        <form [formGroup]="myForm" method="post">
            <div class="mb-3">
                <label for="" class="form-label required">Clientes</label>
                  <select class="form-control"
                      formControlName="cliente">
                      <option value="">Selecione un cliente</option>
                      <option [value]="c._id" *ngFor="let c of cliente">{{c.nombre}}
                          {{c.apellido}}</option>
                  </select>
                  <span class="text-danger"
                      *ngIf="myForm.get('cliente')?.invalid && myForm.get('cliente')?.touched">
                      Por favor, seleccione una opción
                  </span>
              </div>
              <div class="mb-3">
                <label for="" class="form-label required">Servicio</label>
                  <select class="form-control"
                      formControlName="servicio">
                      <option value="">Selecione un servicio</option>
                      <option [value]="servicio._id" *ngFor="let servicio of servicio">{{servicio.nombre_servicio}}
                        </option>
                  </select>
                  <span class="text-danger"
                      *ngIf="myForm.get('servicio')?.invalid && myForm.get('servicio')?.touched">
                      Por favor, seleccione una opción
                  </span>
              </div>
              <div class="mb-3">
                <label for="" class="form-label required">Medio de pago</label>
                  <select class="form-control"
                      formControlName="metodoPago">
                      <option value="">Selecione un medio de pago</option>
                      <option value="Efectivo">Efectivo</option>
                      <option value="Tarjeta débito">Tarjeta débito</option>
                      <option value="Tarjeta crédito">Tarjeta crédito</option>
                  </select>
                  <span class="text-danger"
                      *ngIf="myForm.get('medioPago')?.invalid && myForm.get('medioPago')?.touched">
                      Por favor, seleccione una opción
                  </span>
              </div>
              <div class="botones">
                <button type="submit" [ngClass]="{'disabled':myForm.invalid, 'activo': myForm.valid}"
                [disabled]="myForm.invalid" (click)="onSave(myForm.value)">Guardar</button>
                <button type="button" class="btn btn-primary btn-bg" routerLink="/dashboard/venta/list">Atrás</button>
              </div>
        </form>
      </div>
    </div>
</div>

