

<button class="btn btn-primary mb-4" routerLink="/dashboard/cliente/nuevo">Nuevo cliente</button>
<div class="row">
  <div class="col-12">
      <div class="card">
        <table class="table table-lg ">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Correo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Estado</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of cliente; let c=index">
        <th scope="row">{{c+1}}</th>
        <td>{{i.nombre}}</td>
        <td>{{i.apellido}}</td>
        <td>{{i.email}}</td>
        <td>{{i.direccion}}</td>
        <td>{{i.telefono}}</td>
        <td><button (click)="cambioEstado(i._id)"
          [ngClass]="{'estado':estado, 'estado-cambiado':!estado}">{{textoEstado}}</button></td>

        <td>
          <a class="btn btn-warning" routerLink="/dashboard/cliente/edit/{{i._id}}" >Editar</a>

          <a class="btn btn-danger ml-3" (click)="eliminarCliente(i._id)" >Eliminar</a>
        </td>
    </tbody>
        </table>
      </div>
  </div>
</div>
  <div class="contenedor-paginacion">
    <button type="button" class="btn btn-secondary" >Anterior</button>
    <button type="button" class="btn btn-secondary ml-4">Siguiente</button>
  </div>
