<button class="btn btn-primary" routerLink="/dashboard/cliente/nuevo">Nuevo cliente</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Correo</th>
        <th scope="col">telefono</th>
        <th scope="col">Dirección</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let i of Cliente">
        <th scope="row">{{i.id_cliente}}</th>
        <td>{{i.correo_cliente}}</td>
        <td>{{i.telefono}}</td>
        <td>{{i.direccion}}</td>

        <td>  
          <a class="btn btn-warning" routerLink="/dashboard/cliente/edit/{{i.id_cliente}}">Editar</a>
          <a class="btn btn-danger ml-3" >Eliminar</a>
        </td>
    </tbody>
  </table>
