<div class="content">
  <div class="cards">
    <div class="card">
      <div class="box">
        <img src="./assets/images/admin.png" alt="">
        <h1>Administrador</h1>
        <p><span>Módulos:</span> dashboard, turnos, citas, usuarios, estilistas, clientes, roles y servicios</p>
      </div>
    </div>
    <div class="card">
      <div class="box">
        <img src="./assets/images/Cliente2.avif" alt="">
        <h1>Cliente</h1>
        <p><span>Módulos:</span> citas</p>
      </div>
    </div>    <div class="card">
      <div class="box">
        <img src="./assets/images/Estilistas2.png" alt="">
        <h1>Estilista</h1>
        <p><span>Módulos:</span>turnos</p>
      </div>
    </div>
  </div>
</div>