<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div class="scroll-sidebar">
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav">
      <ul id="sidebarnav">

        <li class="user-profile">
            <a class="has-arrow waves-effect waves-dark" aria-expanded="false"><img src="./assets/images/users/profile.png" alt="user" />
            <span class="hide-menu">{{ getUserRoleDisplayName() }}</span></a>
          <ul aria-expanded="false" class="collapse">

            <li><a href="javascript:void()" routerLink="/dashboard/perfil">Mi Perfil </a></li>
            <li><a href="javascript:void()" routerLink="" (click)="logout()">Salir</a></li>
          </ul>
        </li>


        <li *ngIf="canAccessEstilistaModule()" class="nav-small-cap" >AGENDA</li>
        <li *ngIf="canAccessEstilistaModule()">
          <a *ngIf="userId" [routerLink]="'/dashboard/turno/estilista/' + userId" aria-expanded="false">
            <i class="fa-regular fa-calendar-check"></i><span class="hide-menu">Mis turnos</span>
          </a>

          <a *ngIf="userId" [routerLink]="'/dashboard/cita/estilista/' + userId" aria-expanded="false">
            <i class="fa-regular fa-calendar-days"></i><span class="hide-menu">Mis citas</span>
          </a>
        </li>
        <li *ngIf="canAccessClienteModule()" class="nav-small-cap" >AGENDA</li>
        <li *ngIf="canAccessClienteModule()">
          <a *ngIf="userId" [routerLink]="'/dashboard/cita/nuevo/cliente/' + userId" aria-expanded="false">
            <i class="far fa-calendar-plus"></i><span class="hide-menu">Agenda una cita</span>
          </a>

          <a *ngIf="userId" [routerLink]="'/dashboard/cita/list/cliente/' + userId" aria-expanded="false">
            <i class="fa-regular fa-calendar-days"></i><span class="hide-menu">Mis citas</span>
          </a>
        </li>

        <li class="nav-devider"></li>
        <li *ngIf="canAccessModule('admin')" class="nav-small-cap">PERSONAL</li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/dashboard" routerLinkActive="active" aria-expanded="false">
            <i class="fa-solid fa-chart-line"></i>
            <span class="hide-menu">DASHBOARD</span>
          </a>
        </li>

        <li *ngIf="canAccessModule('admin') " class="nav-small-cap">AGENDA</li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/turno/list" routerLinkActive="active" aria-expanded="false">
            <i class="fa-regular fa-calendar-check"></i><span class="hide-menu">TURNOS </span>
          </a>
        </li>



        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/cita/list" routerLinkActive="active" aria-expanded="false">
            <i class="fa-regular fa-calendar-days"></i><span class="hide-menu">CITAS</span>
          </a>
        </li>

        <li *ngIf="canAccessModule('admin') " class="nav-small-cap">ADMINISTRAR PERSONAL</li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/estilista/list" routerLinkActive="active" aria-expanded="false">
            <i class="fa-solid fa-scissors"></i>
            <span class="hide-menu">ESTILISTAS</span>
          </a>
        </li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/cliente/list" routerLinkActive="active" aria-expanded="false">
            <i class="fa-solid fa-users"></i>
            <span class="hide-menu">CLIENTES</span>
          </a>
        </li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/usuarios/list" routerLinkActive="active" aria-expanded="false">
            <i class="fa-solid fa-user"></i>
            <span class="hide-menu">USUARIOS</span>
          </a>
        </li>


        <li *ngIf="canAccessModule('admin') " class="nav-small-cap">GESTIÓN</li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/venta/list" routerLinkActive="active" aria-expanded="false">
            <i class="fa-solid fa-cart-shopping"></i><span class="hide-menu">VENTAS</span>
          </a>
        </li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/servicio/list" routerLinkActive="active" aria-expanded="false">
            <i class="fa-solid fa-scissors"></i><span class="hide-menu">SERVICIOS</span>
          </a>
        </li>

        <li *ngIf="canAccessModule('admin')">
          <a routerLink="/dashboard/roles/list" routerLinkActive="active" aria-expanded="false">
            <!-- <i class="fa-regular fa-face-smile"></i>
            <span class="hide-menu">ROLES</span> -->
          </a>
        </li>

      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<script src="https://kit.fontawesome.com/b3b94f5364.js" crossorigin="anonymous"></script>
<!-- ============================================================== -->
<!-- End Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
