<div class="contenedor">
  <form [formGroup]="myForm" method="post" class="formulario">
    <div class="izquierda">
      <img class="imagen" src="./assets/images/Logo.png" alt="Imagen">
    </div>
    <div class="derecha">
      <h1>Recuperar contraseña</h1>
      <label for="">Nueva contraseña</label>
      <input type="password" placeholder="Ingrese su nueva contraseña" formControlName="nueva">
      <span class="text-danger" *ngIf="myForm.get('nueva')?.invalid && myForm.get('nueva')?.touched">
        La contraseña es requerida
      </span><br>
      <span class="text-danger" *ngIf="myForm.get('nueva')?.hasError('minlength')">
        La contraseña debe tener más de 6 caracteres.
      </span>

      <label for="">Confirmar contraseña: </label>
      <input type="password" id="password" formControlName="contrasena" placeholder="Confirme su nueva contraseña">
      <span class="text-danger" *ngIf="myForm.get('contrasena')?.invalid && myForm.get('contrasena')?.touched">
        La contraseña es requerida
      </span><br>
      <span class="text-danger" *ngIf="myForm.get('contrasena')?.hasError('minlength')">
        La contraseña debe tener más de 6 caracteres.
      </span><br>
      <span class="text-danger" *ngIf="myForm.hasError('contrasenasNoCoinciden')">
        Las contraseñas no coinciden.
      </span><br>
      <button (click)="onSave(myForm.value)" [disabled]="myForm.invalid">Enviar</button>
      <button routerLink="/login">Volver</button>
    </div>
  </form>
</div>