<div class="contenedor">
    <form [formGroup]="myForm" method="post" class="formulario">
      <div class="izquierda">
        <img class="imagen" src="./assets/images/Logo.png" alt="Imagen">
      </div>
      <div class="derecha">
        <h1>Recuperar contraseña</h1>
        <label for="email">Contraseña: </label>
        <input type="password" id="password" formControlName="contrasena" placeholder="Confirme su nueva contraseña">
        <span class="text-danger" *ngIf="myForm.get('contrasena')?.invalid && myForm.get('contrasena')?.touched">
          La contraseña es requerida
        </span>
        <span class="text-danger" *ngIf="myForm.get('contrasena')?.invalid && myForm.get('contrasena')?.hasError('minLength')">
          La contraseña debe ser mayor a 6 caracteres
        </span>
        <button (click)="onSave(myForm.value)" [disabled]="myForm.invalid">Enviar</button>
      </div>
    </form>
  </div>
  