.contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    display: flex;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.izquierda {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.izquierda .imagen {
    width: 200px; /* Ajusta el tamaño de la imagen según tus necesidades */
    margin-bottom: 10px;
}

.derecha {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

label {
    display: block;
    text-align: left;
}

input {
    width: 100%;
    padding: 8px;
    border: none;
    margin-bottom: 16px;
    border-bottom: 1px solid rgba(110, 48, 131, 1);
    outline: none;
    box-sizing: border-box;
    color: rgba(110, 48, 131, 1);
}

label::after {
    content: ' * ';
    color: rgb(255, 73, 73);
}

button {
    width: 50%;
    padding: 10px;
    border-radius: 20px;
     background-color: rgba(116, 90, 242);
    color: white;
}

h1 {
    font-weight: bold;
}
p{
    text-align: center;
    color: #b8b4b4;
}

/* Media query para hacer el formulario más compacto en pantallas pequeñas */
@media only screen and (max-width: 600px) {
    form {
        flex-direction: column;
        padding: 10px;
    }

    .izquierda,
    .derecha {
        flex: auto;
        padding: 10px;
    }

    .izquierda .imagen {
        margin-bottom: 10px;
    }
}
.input-error{
    border: none;
    border-bottom: 1px solid red;
    outline: none;
}
