<div *ngIf="cita">
  <h2>Detalles de la Cita</h2>

  <form [formGroup]="citaForm">
    <label for="fecha">Fecha:</label>
    <input type="text" id="fecha" formControlName="fecha" />

    <label for="estilista">Estilista:</label>
    <input type="text" id="estilista" formControlName="estilista" />

    <label for="servicio">Servicio:</label>
    <input type="text" id="servicio" formControlName="servicio" />

    <button (click)="editarCita()">Guardar Cambios</button>
    <button (click)="eliminarCita()">Eliminar Cita</button>
  </form>
</div>
