<div class="container mt-5">
  <div class="card sombra">
    <div class="card-body">
      <form [formGroup]="myForm" method="post">
        <div class="mb-3">
          <label for="" class="form-label required">Estilista</label>
          <select id= "estilista" class="form-control" formControlName="estilista">
            <option value="">Seleccione un estilista</option>
            <option [value]="estilista._id" *ngFor="let estilista of Estilista">{{estilista.nombre}}
              {{estilista.apellido}}</option>
          </select>
          <span class="text-danger" *ngIf="myForm.get('estilista')?.invalid && myForm.get('estilista')?.touched">
            Por favor, seleccione un estilista.
          </span>
        </div>
        <div class="mb-3">
          <label for="" class="form-label required">Día</label>
          <select class="form-control" formControlName="dia">
            <option value="">Seleccione un día</option>
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miercoles">Miércoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sabado">Sabádo</option>
            <option value="domingo">Domingo</option>
          </select>
          <span class="text-danger" *ngIf="myForm.get('dia')?.invalid && myForm.get('dia')?.touched">
            Por favor, seleccione un día.
          </span>
        </div>
        <div class="mb-3">
          <label for="" class="form-label required">Turno mañana</label>
          <div class="input-group">
            <input class="form-control" placeholder="Hora de inicio" formControlName="inicioM" bsTimepicker [timepickerConfig]="timepickerConfig">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="myForm.get('inicioM')?.markAsTouched()" tabindex="-1">
                <i class="fa fa-clock"></i>
              </button>
            </div>
          </div>
          <span class="text-danger" *ngIf="myForm.get('inicioM')?.invalid && myForm.get('inicioM')?.touched">
            Por favor, seleccione una hora de inicio.
          </span>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <input class="form-control" placeholder="Hora de finalizacion" formControlName="finM" ngbTimepicker>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="myForm.get('finM')?.markAsTouched()" tabindex="-1">
                <i class="fa fa-clock"></i>
              </button>
            </div>
          </div>
          <span class="text-danger" *ngIf="myForm.get('inicioM')?.invalid && myForm.get('finM')?.touched">
            Por favor, seleccione una hora de finalizacion.
          </span>
        </div>
        <div class="mb-3">
          <label for="" class="form-label required">Turno tarde</label>
          <div class="input-group">
            <input class="form-control" placeholder="Hora de finalizacion" formControlName="inicioT" ngbTimepicker>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="myForm.get('inicioT')?.markAsTouched()" tabindex="-1">
                <i class="fa fa-clock"></i>
              </button>
            </div>
          </div>
          <span class="text-danger" *ngIf="myForm.get('inicioM')?.invalid && myForm.get('inicioT')?.touched">
            Por favor, seleccione una hora de inicio.
          </span>
        </div>
        <div class="mb-3">
          <div class="input-group">
            <input class="form-control" placeholder="Hora de finalizacion" formControlName="finT" Timepicker>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="myForm.get('finT')?.markAsTouched()" tabindex="-1">
                <i class="fa fa-clock"></i>
              </button>
            </div>
          </div>
          <span class="text-danger" *ngIf="myForm.get('inicioM')?.invalid && myForm.get('finT')?.touched">
            Por favor, seleccione una hora de finalizacion.
          </span>
        </div>
        <div class="botones">
          <button type="submit" [ngClass]="{'disabled':myForm.invalid, 'activo': myForm.valid}"
            (click)="onSave(myForm.value)">Guardar</button>
          <button type="button" class="btn btn-primary btn-sm" routerLink="/dashboard/turno/list">Atrás</button>
        </div>
      </form>
    </div>
  </div>
</div>
